<div class="row-fluid">
	<div id="logo-container" class="offset2 span8">
		<%= image_tag("logo.png") %>
	</div>	
</div>
<div class="row-fluid">
	<div id="directory-container" class="offset2 span8 s-panel">
		<div class="row-fluid">

			<table>
			  <thead>
			    <tr>
			      <th></th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td id="left-column" class="span6 s-centered"><%= image_tag("logo.png", :class => 'img-polaroid', :style => 'max-width:200px;') %><br/></br><button class="btn s-btn-red">Connect Servants</button></td>
			      <td id="right-column" class="offset span6"></td>
			    </tr>
			    <tr>
			      <td id="left-column" class="span6"></td>
			      <td id="right-column" class="offset span6"></td>
			    </tr>
			    <tr>
			      <td id="left-column" class="span6"></td>
			      <td id="right-column" class="offset span6"></td>
			    </tr>
			  </tbody>
			</table>

		</div>
	</div>	
</div>