<div class="row-fluid">
	<div id="logo-container" class="offset2 span8">
		<%= image_tag("logo.png") %>
	</div>	
</div>
<div class="row-fluid">
	<div id="directory-container" class="offset4 span4 s-panel">
		<div class="row-fluid">
			<div class="span12 left-column app-box img-polaroid" >
				<div class="row-fluid">
			      <div id="app-logo" class="span12 s-centered s-padding-small"><%= image_tag("whitedeals-logo.png", :class => 's-centered img-polaroid') %></div>
			    </div> <!-- row-fluid -->
			    <div class="row-fluid">
			      <div id="app-connect-btn" class="span12 s-centered s-padding-small">
			      	<a href="http://whitedeals.co/auth/servant" class="btn s-btn-red">Connect Servant</a>
			      </div>
			    </div> <!-- row-fluid -->
			    <div class="row-fluid">
			      <div id="app-description" class="span12 s-padding-top s-centered">
			      	<p>Free Mobile Apps for Selling Special Deals!</p>
			      </div>
			    </div> <!-- row-fluid -->
			    <div class="row-fluid">
			      <div id="app-address" class="span12 s-centered">
			      	<a href="http://whitedeals.co" class="s-red s-eleven" target="_blank">WHITEDEALS.CO</a>
			      </div>
			    </div> <!-- row-fluid -->
			</div> <!-- app-box -->
			<hr style="margin:15px auto 8px auto;width:80%;padding:0px;">
			<p class="s-centered s-eleven s-font s-padding-small">MORE COMING SOON!</p>
		</div>
	</div>	
</div>