<div class="row-fluid">
	<div id="logo-container" class="offset2 span8">
		<%= image_tag("logo.png") %>
	</div>	
</div>
<div class="row-fluid">
	<div id="directory-container" class="offset4 span4 s-panel">
		<div class="row-fluid">

			<table>
			  <thead>
			    <tr>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td id="app-logo" class="span12 s-centered s-padding-small"><%= image_tag("whitedeals-logo.png", :class => 'img-polaroid s-centered') %></td>
			    </tr>
			    <tr>
			      <td id="app-connect-btn" class="span12 s-centered s-padding-small"><a href="http://whitedeals.co/auth/servant" class="btn s-btn-red">Connect Servant</button></td>
			    </tr>
			    <tr>
			      <td id="app-description" class="span12 s-padding-top s-centered"><p>Launch a local Special Deals business via your own Mobile Application.</p></td>
			    </tr>
			    <tr>
			      <td id="app-address" class="span12 s-centered"><a href="http://whitedeals.co" class="s-red s-eleven" target="_blank">WHITEDEALS.CO</a></td>
			    </tr>
			  </tbody>
			</table>

			<hr style="margin:15px auto 8px auto;width:80%;padding:0px;">
			<p class="s-centered s-eleven s-font s-padding-small">MORE COMING SOON!</p>

		</div>
	</div>	
</div>